import(methods, Biobase, AnnotationDbi, Rgraphviz, graph)

importFrom(SparseM, t)

importFrom(lattice, densityplot, xyplot)



exportClasses(topONTdata, topONTresult, groupStats,
              classicCount, classicScore, classicExpr,
              weight01Count, weight01Score, weight01Expr,
              elimCount, elimScore, elimExpr,
              leaCount, leaScore, leaExpr,
              weightCount, pC, parentChild
           )

exportMethods(initialize, description, ontology, allGenes, feasible, graph,
              geneSelectionFun, "description<-", "ontology<-", "feasible<-", "graph<-",
              "geneSelectionFun<-", print, show, updateGenes, genes, numGenes,
              geneScore, sigGenes, numSigGenes, usedGO, attrInTerm, genesInTerm,
              scoresInTerm, countGenesInTerm, termStat, "updateTerm<-",
              allMembers, Name, members, testStatistic, "Name<-", "allMembers<-",
              "members<-", numMembers, numAllMembers, runTest, "sigMembers<-",
              sigAllMembers, numSigAll, sigMembers, numSigMembers, contTable, allScore,
              membersScore, "score<-", rankMembers, pType, "pType<-", 
              membersExpr, getSigGroups, elim, cutOff, "elim<-", "cutOff<-", updateGroup,
              "Weights<-", Weights, "sigRatio<-", getSigRatio, score, testName, algorithm,
              geneData, "geneData<-", "score<-", "testName<-", "algorithm<-",
              printGenes, penalise, scoreOrder, testStatPar, printGraph, GenTable,
              GOFisherTest, GOKSTest, GOtTest, GOglobalTest,
              GOSumTest, GOKSTiesTest, 
              joinFun, allParents, depth, "depth<-",
              expressionMatrix, phenotype
             )

export(annFUN.db, annFUN, annFUN.gene2GO, annFUN.GO2genes, annFUN.org, annFUN.file,
       combineResults, readMappings, inverseList, whichAlgorithms, whichTests, 
       GOplot, showSigOfNodes, getPvalues, showGroupDensity,
       nodesInInducedGraph, inducedGraph, 
       permSumStats, permSumStats.all,
       .genesInNode, .countsInNode, initONT,initWHAT,mapAnnotationToSpecies.fly,
       mapAnnotationToSpecies.score.fly,list.annotation,readMappingswithScore,
       revmapWithScore,filter.ontology.annotation,
       reverseArch, buildLevels,  getGraphRoot,  getNoOfLevels  ,run.batch     )
